/* @charset "UTF-8";
@media only screen and (min-width: 360px) {
    html {
        font-size: 26px !important;
    }
}

@media only screen and (min-width: 435px) {
    html {
        font-size: 30px !important;
    }
}



@media (min-width: 769px) {
    html {
        font-size: 34px !important;
    }
}

@media only screen and (min-width: 1024px) {
    html {
        font-size: 28px !important;
    }
}

@media only screen and (min-width: 1200px) {
    html {
        font-size: 30px !important;
    }
}

@media only screen and (min-width: 1440px) {
    html {
        font-size: 34px !important;
    }
}

@media only screen and (min-width: 1680px) {
    html {
        font-size: 40px !important;
    }
}

.i-list5 {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 3;
    padding: 1.5rem 2.5rem;
    overflow: hidden;
    padding-bottom: 120px;
}

.i-list5 .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.i-list5 .tit4 {
    color: #ffffff;
    margin-top: 0.2rem;
}

.i-list5 .text {
    position: relative;
    z-index: 2;
}

.i-list5 .iconbox {
    width: 1.25rem;
    height: 1.25rem;
    background: #ffffff;
    border-radius: 50%;
}

.i-list5 .iconbox .icon {
    width: 0.7rem;
    height: 0.7rem;
    fill: #fff;
}

.i-list5 .botbox {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    z-index: 4;
    width: 100%;
}

.i-list5 .botbox .p {
    width: 12rem;
    margin-left: 0.5rem;
}

.i-list5 .botbox .botli {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
}

.i-list5 .ul {
    position: relative;
    width: 18rem;
    height: 18rem;
    margin: 1.7rem auto 0;
    z-index: 3;
   
    border-radius: 50%;
}

.i-list5 .ul .li {
    width: 1.25rem;
    height: 1.25rem;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
}

.i-list5 .ul .li .icon {
    width: 0.7rem;
    height: 0.7rem;
    fill: #fff;
}

.i-list5 .ul .li1 {
    left: 50%;
    top: -0.625rem;
    margin-left: -0.625rem;
    z-index: 3;
}

.i-list5 .ul .li1 span {
    position: absolute;
    top: -1.5rem;
    left: -12px;
    width: 100px;
    color: #ffffff;
}

.i-list5 .ul .li2 {
    left: 93%;
    top: 65%;
    z-index: 3;
}

.i-list5 .ul .li2 span {
    position: absolute;
    top: 1.65rem;
    left: 0.56rem;
    width: 100px;
    color: #018a82;
}

.i-list5 .ul .li3 {
    left: 0%;
    top: 65%;
    z-index: 3;
}

.i-list5 .ul .li3 span {
    position: absolute;
    top: 1.65rem;
    right: 0.56rem;
    width: 100px;
    color: #018a82;
    text-align: right;
}

.i-list5 .ul .imgli {
    width: 7.5rem;
    background: #ffffff;
    box-shadow: 17px 28px 45px 0px rgba(34, 34, 34, 0.16);
    border-radius: 5px;
    padding: 0.4rem;
    position: absolute;
    z-index: 3;
    opacity: 0;
 
    transition: all 0.5s;
}

.i-list5 .ul .imgli.cur {
    opacity: 1 !important;
    visibility: visible !important;
    animation-play-state: paused;
}

.i-list5 .ul .imgli img {
    margin-bottom: 10px;
}

.i-list5 .ul .imgli1 {
    right: -6rem;
    top: -4rem;
}

.i-list5 .ul .imgli2 {
    right: -10rem;
    bottom: 5rem;
}

.i-list5 .ul .imgli3 {
    left: -10rem;
    bottom: 5rem;
}

.i-list5 .imgbox {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
}

.i-list5 .svgs {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    transform: rotate(-90deg);
}

.i-list5 .svgs .svg {
    stroke-width: 2;
    r: calc(50% - 1px);
    stroke-dasharray: calc(18rem * 3.15 - 2px);
    stroke-dashoffset: calc(18rem * 3.15 - 2px);
    opacity: 1;
}

.i-list5 .svgs .svg {
 
    animation: run 15s infinite linear;
}

.i-list5 .ul .imgli1 {
    animation: text1 15s linear infinite;
}

.i-list5 .ul .imgli2 {
    animation: text2 15s linear infinite;
}

.i-list5 .ul .imgli3 {
    animation: text3 15s linear infinite;
}

.i-list5 .botbox .botli:nth-child(1) {
    animation: text1 15s linear infinite;
}

.i-list5 .botbox .botli:nth-child(2) {
    animation: text2 15s linear infinite;
}

.i-list5 .botbox .botli:nth-child(3) {
    animation: text3 15s linear infinite;
}


@keyframes run {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes text1 {
    0%,
    30% {
        opacity: 1;
    }
    31% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes text2 {
    0% {
        opacity: 0;
    }
    32% {
        opacity: 0;
    }
    33%,
    55% {
        opacity: 1;
    }
    56% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes text3 {
    0%,
    65% {
        opacity: 0;
    }
    66%,
    90% {
        opacity: 1;
    }
}

.i-list5 .imgbox .quan {
    width: 15px;
    height: 15px;
    position: absolute;
    transition: all 0.5s ease-in-out;
    z-index: 2;
}

.i-list5 .imgbox .quan:after {
    content: '';
    position: absolute;
    left: 60%;
    top: 50%;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: ripple-circle 1.0s infinite;
    z-index: 1;
}

.i-list5 .imgbox .quan:before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    left: 50%;
    top: 50%;
    margin-top: -6.5px;
    margin-left: -6.5px;
    border-radius: 50%;
    background: #ffffff;
    z-index: 3;
}

@keyframes ripple-circle {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 10;
    }
    70% {
        transform: translate(-50%, -50%) scale(1.8);
        opacity: 0.1;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

.i-list5 .imgbox .quan1 {
    left: 18%;
    top: 28%;
}

.i-list5 .imgbox .quan2 {
    left: 49.5%;
    top: 39%;
}

.i-list5 .imgbox .quan3 {
    left: 63.5%;
    top: 53%;
}

.i-list5 .imgbox .quan4 {
    left: 46%;
    top: 35%;
}

.i-list5 .imgbox .quan5 {
    left: 69%;
    top: 53.5%;
}

.i-list5 .imgbox .quan6 {
    left: 73%;
    top: 47%;
}

.i-list5 .imgbox .quan7 {
    left: 51.5%;
    top: 46%;
}

.label-white {
    margin-left: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 4px 8px;
    color: #000;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

@media (max-width: 768px) {
    .i-list5 .ul {
        width: 12rem;
        height: 12rem;
    }
    .i-list5 .svgs .svg {
        stroke-dasharray: calc(12rem * 3.15 - 2px);
        stroke-dashoffset: calc(12rem * 3.15 - 2px);
    }
    .i-list5 {
        padding-bottom: 6rem;
    }
    .i-list5 .imgbox {
        top: 16%;
    }
    .i-list5 .ul .imgli {
        display: none;
    }
    .i-list5 .ul .li2 {
        left: 90%;
    }
    .label-white {
        display: none;
    }
}

@media (max-width: 767px) {
    .i-list5 .ul {
        width: 11rem;
        height: 11rem;
    }
    .i-list5 .svgs .svg {
        stroke-dasharray: calc(11rem * 3.15 - 2px);
        stroke-dashoffset: calc(11rem * 3.15 - 2px);
    }
    .i-list5 .imgbox {
        top: 40%;
    }
    .i-list5 .botbox {
        left: 6%;
    }
    .i-list5 .botbox .p {
        width: calc(100% - 60px);
    }
    .i-list5 {
        padding: 1.5rem 6% 3rem;
    }
    .i-list5 .tit5 {
        margin-top: 0.7rem;
    }
    .i-list5 .ul {
        margin-top: 3.5rem;
    }
    .i-list5 .iconbox {
        width: 1.2rem;
        height: 1.2rem;
    }
    .i-list5 .ul .li span {
        font-size: 12px;
    }
    .i-list5 .ul .li3 span {
        top: 1.5rem;
        right: 0.5rem;
        width: 60px;
    }
    .i-list5 .ul .li2 span {
        top: 1.5rem;
        left: 0.5rem;
        width: 60px;
    }
    .i-list5 .ul .li3 {
        left: -2%;
    }
    .i-list5 .ul .li2 {
        left: 88%;
    }
    .i-list5 .imgbox .quan {
        width: 10px;
        height: 10px;
    }
    .i-list5 .imgbox .quan:before {
        width: 8px;
        height: 8px;
        margin-left: -4px;
        margin-top: -4px;
    }
    .i-list5 .ul .imgli1,
    .i-list5 .ul .imgli2,
    .i-list5 .ul .imgli3 {
        display: block;
    }
    .i-list5 .ul .imgli {
        width: 6rem;
        left: 50% !important;
        top: 50% !important;
        right: auto !important;
        bottom: auto !important;
        transform: translate3d(-50%, -50%, 0);
    }
    .i-list5 .botbox .p {
        width: calc(100% - 90px);
    }
    .i-list5 .iconbox img {
        max-width: 56%;
        max-height: 56%;
    }
}

@media (max-width: 768px) {
    .i-list5 .tit5 {
        font-size: 12px;
        width: 200px;
        line-height: 10px;
    }
    .i-list5 .tit16 {
        width: 200px;
        font-size: 12px;
        border: 2px solid red;
        width: 200px;
    }
} */


.i-list5 {
  position: relative;
  width: 100%;
  padding: 2rem;
  background-color: #000;
  overflow: hidden;
}

.i-list5 .imgbox {
  position: relative;
  width: 100%;
}

.i-list5 .text {
  position: relative;
  z-index: 3;
  margin-top: 2rem;
  text-align: center;
  color: white;
}

.i-list5 .tit4 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

/* Dot styles */
.quan {
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 3;
}

.quan:after {
  content: '';
  position: absolute;
  left: 60%;
  top: 50%;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ripple-circle 1s infinite;
  z-index: 1;
}

.quan:before {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  left: 50%;
  top: 50%;
  margin-top: -6.5px;
  margin-left: -6.5px;
  border-radius: 50%;
  background: white;
  z-index: 3;
}

@keyframes ripple-circle {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.5;
  }
  70% {
    transform: translate(-50%, -50%) scale(1.8);
    opacity: 0.1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

/* Dot positions (tweak if needed) */
.quan1 { left: 18%; top: 28%; }
.quan2 { left: 49.5%; top: 39%; }
.quan3 { left: 63.5%; top: 53%; }
.quan4 { left: 46%; top: 35%; }
.quan5 { left: 70%; top: 55.5%; }
.quan6 { left: 73%; top: 47%; }
.quan7 { left: 51.5%; top: 46%; }

/* Planes */
.plane {
  position: absolute;
  width: 25px;
  height: auto;
  z-index: 5;
  transition: all 1s ease-in-out;
}

/* Dotted lines */
.dotted-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

.dotted-lines line {
  stroke: rgba(255, 255, 255, 0.6);
  stroke-width: 1;
  stroke-dasharray: 4, 4;
}

@media (max-width: 768px) {
  .plane {
    width: 18px;
  }

  .quan {
    width: 10px;
    height: 10px;
  }

  .quan:before {
    width: 8px;
    height: 8px;
    margin-left: -4px;
    margin-top: -4px;
  }

  .i-list5 .tit4 {
    font-size: 1.2rem;
  }
}
